body {
    margin: 0;
    padding: 0;
    font-family: monserrat;
    background: linear-gradient(150deg, #E6E1E0, #A29E9D);
    height: 100vh;
}

.btn-custom {
    background-color: #f1f1f1;
    color: #333;
}




