@{
    ViewData["Title"] = "Acerca de nosotros";
}

<link rel="stylesheet" href="/css/Acercadenosotros.css">

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-3 col-sm-1">
            <img id="beto" src="/beto.jpeg" alt="Beethoven">
        </div>

        <div id="texto" align="left" class="col-lg-8 col-md-9 col-sm-11">
            <h5>Historia</h5>
            <p>
                Somos una empresa mexicana ubicada en la ciudad de Monterrey Nuevo Leon desde 1999 especialistas en
                calidad de ropa elegante para caballero, manejamos telas de calidad premium, costuras de hilo de
                algodon, camisas de vestir de algodon, ceda, franela y pana. Ropa para toda ocasion.
            </p>
            <p>
                Somos estrictos en nuestras rendas por que es lo que nos define con la competencia, como una tienda
                de calidad, cada momento tiene que ser especial para cada uno de nuestros cientes, como cada nota de
                Ludwig van Beethoven, es importante plasmar nuestra dedicacion como el lo hizo con cada una de sus
                sinfonias, nuestras prendas son lo mismo cada parte de la prenda es seleccionada para hacer un
                conjunto armonico para cada estilo de vestimena.
            </p>
        </div>
    </div>
</div>
