@{
    ViewData["Title"] = "Catalogo";
}

<link rel="stylesheet" href="/css/Catalogo.css">
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="position-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">Ropa para Hombres</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                            <li><a class="dropdown-item" href="#">Camisetas</a></li>
                            <li><a class="dropdown-item" href="#">Pantalones</a></li>
                            <li><a class="dropdown-item" href="#">Abrigos</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">Ropa para Mujeres</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                            <li><a class="dropdown-item" href="#">Vestidos</a></li>
                            <li><a class="dropdown-item" href="#">Blusas</a></li>
                            <li><a class="dropdown-item" href="#">Faldas</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Camisas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Polo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sacos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Corbatas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Zapatos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Carteras</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sacos</a>
                    </li>
                </ul>
            </div>
        </nav>

        <main class="col-md-10 ms-sm-auto px-4">
            <div class="container-fluid">
                <div class="col-md-9">
                    <div class="row">
                        <!-- Columna 1 -->
                        <div class="col-md-4 product">
                            <div class="card" style="width: 14rem;">
                                <img src="/abrigo negro.jpg" class="card-img-top product-image" alt="...">
                                <div class="card-body">
                                    <h1>$2500</h1>
                                    <p class="card-text">Abrigo negro profundo, realizado con seda extra suave para la comodidad.</p>
                                </div>
                                <div class="card-footer">
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Abrigohombre">
                                        Ver
                                    </button>
                                    <button type="button" class="btn btn-dark">Comprar</button>
                                </div>
                            </div>
                        </div>

                        <!-- Columna 2 -->
                        <div class="col-md-4 product">
                            <div class="card" style="width: 14rem;">
                                <img src="/abrigo mujer.jpg" class="card-img-top product-image" alt="...">
                                <div class="card-body">
                                    <h1>$2200</h1>
                                    <p class="card-text">Abrigo de mujer color cafe claro, realizado con seda suave y resistente.</p>
                                </div>
                                <div class="card-footer">
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Abrigomujer">
                                        Ver
                                    </button>
                                    <button type="button" class="btn btn-dark">Comprar</button>
                                </div>
                            </div>
                        </div>

                        <!-- Columna 3 -->
                        <div class="col-md-4 product">
                            <div class="card" style="width: 14rem;">
                                <img src="/cinto.jpg" class="card-img-top product-image" alt="...">
                                <div class="card-body">
                                    <h1>$800</h1>
                                    <p class="card-text">Cinto 100% de cuero realizado a mano por excelentes fabricadores</p>
                                </div>
                                <div class="card-footer">
                                    <button type="button" class="btn btn-dark">Ver</button>
                                    <button type="button" class="btn btn-dark">Comprar</button>
                                </div>
                            </div>
                        </div>
                        <!-- Columna 1 -->
                        <div class="col-md-4 product">
                            <div class="card" style="width: 14rem;">
                                <img src="~/zapatos.jpg" class="card-img-top product-image" alt="...">
                                <div class="card-body">
                                    <h1>$1500</h1>
                                    <p class="card-text">Zapatos para caballero clasicos con suela especial para la comodidad.</p>
                                </div>
                                <div class="card-footer">
                                    <button type="button" class="btn btn-dark">Ver</button>
                                    <button type="button" class="btn btn-dark">Comprar</button>
                                </div>
                            </div>
                        </div>
                        <!-- Columna 2 -->
                        <div class="col-md-4 product">
                            <div class="card" style="width: 14rem;">
                                <img src="~/gorro.jpg" class="card-img-top product-image" alt="...">
                                <div class="card-body">
                                    <h1>$1200</h1>
                                    <p class="card-text">Gorro inspirado en la serie peaky blinders incluye un porta navajas</p>
                                </div>
                                <div class="card-footer">
                                    <button type="button" class="btn btn-dark">Ver</button>
                                    <button type="button" class="btn btn-dark">Comprar</button>
                                </div>
                            </div>
                        </div>

                        <!-- Columna 3 -->
                        <div class="col-md-4 product">
                            <div class="card" style="width: 14rem;">
                                <img src="~/zapatos dama.jpg" class="card-img-top product-image" alt="...">
                                <div class="card-body">
                                    <h1>$1500</h1>
                                    <p class="card-text">Zapatos para dama clasicos con suela especial para la comodidad.</p>
                                </div>
                                <div class="card-footer">
                                    <button type="button" class="btn btn-dark">Ver</button>
                                    <button type="button" class="btn btn-dark">Comprar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<div class="modal fade" id="Abrigomujer" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Título del producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <img src="/abrigo mujer.jpg" class="img-fluid" alt="Imagen del producto">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark">Comprar</button>
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Abrigohombre" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Título del producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <img src="/abrigo negro.jpg" class="img-fluid" alt="Imagen del producto">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark">Comprar</button>
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>