@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="/css/Index.css">

<div class="text-center">
    <h1 class="display-4">Bienvenido a La 9na Sinfonia</h1>
</div>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/Descuento.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
        </div>
    </div>
</div>






