@{
    ViewData["Title"] = "Informacion";
}

<link rel="stylesheet" href="/css/Informacion.css">


<div class="container">
    <div class="row">
        <div class="col-6 col-lg-6">
            <h3>Informacion</h3>

        </div>
        <div class="col-6 col-lg-6">
            <img id="cambio" src="Imagenes/Cambio de imagen.png" alt="">
            <p><a href="">Cambiar imagen</a></p>
        </div>
        <div class="form-inf">
            <section>
                <input class="control" type="text" name="Nombre" id="Nombre" placeholder="Su Nombre">
                <input class="control" type="text" name="Apellido paterno" id="Apellido paterno" placeholder="Apellido paterno">
                <input class="control" type="text" name="Apellido materno" id="Apellido materno" placeholder="Apellido materno">
            </section>
            <section>
                <input class="control" type="text" name="Edad" id="Edad" placeholder="Edad">
                <input class="control" type="text" name="Telefono" id="Nombre" placeholder="811 000 0000">
                <input class="botones" type="submit" value="Cambiar Telefono">
            </section>
            <section>
                <input class="controls" type="text" name="Correo" id="Nombre" placeholder="user@hotmail.com">
            </section>
            <section>
                <input class="botones" type="submit" value="Cambiar contraseña">
                <input class="botones" type="submit" value="Olvide mi contraseña">
            </section>
        </div>
    </div>
</div>