@{
    ViewData["Title"] = "MiCuenta";
}


<link rel="stylesheet" href="/css/MiCuenta.css">

<div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-6">
        <div class="text-center">
          <a href="@Url.Action("Index", "Direccions")" class="btn btn-light">Direcciones</a>
          <a href="@Url.Action("Index", "MetodoDePagoes")" class="btn btn-light">Formas de pago</a>
          <a href="#" class="btn btn-custom btn-lg btn-block mb-3">Informacion</a>
          <a href="#" class="btn btn-custom btn-lg btn-block mb-3">Pedidos</a>
        </div>
      </div>
    </div>
  </div>
                
                
                    

