@{
    ViewData["Title"] = "MiCuenta";
}


<link rel="stylesheet" href="/css/MiCuenta.css">

<div class="container">
    <div id="name" class="row">
        <div class="col lg-12">
            <h1><strong>Mi cuenta</strong></h1>
        </div>
    </div>
    <div  class="row">
        <div id="buttons" class="col lg-12">
            <div>
                <button type="button" class="btn btn-light">Mis pedidos</button>
                <a href="@Url.Action("Index", "Direccions")" class="btn btn-light">Direcciones</a>
                <div id="grupo2">
                    <a href="@Url.Action("Index", "MetodoDePagoes")" class="btn btn-light">Formas de pago</a>
                    <button type="button" class="btn btn-light">Informacion</button>
                </div>
            </div>
        </div>

    </div>
</div>

