@{
    ViewData["Title"] = "Soporte";
}

<link rel="stylesheet" href="/css/Soporte.css">
<div class="container">
    <div class="row">
        <div id="texto" class="col lg-6 md-4 sm-2">
            <h4>Dejanos tu comentario</h4>
            <input type="text" size="80" style="height: 150px;" placeholder="Escribenos..">
            <input type="submit" value="Enviar">
        </div>
        <div id="info" class="col lg-6 md-8 sm-10">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Correo eletronico: </h5>
                    <p class="card-text">la9nasinfonia@gmail.com</p>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Numero</h5>
                    <p class="card-text">888-888-888</p>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Facebook</h5>
                    <p class="card-text">La 9na sinfonia</p>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Twitter</h5>
                    <p class="card-text">La 9na sinfonia</p>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Instragram</h5>
                    <p class="card-text">La 9na sinfonia</p>
                </div>
            </div>

        </div>
    </div>


</div>