@{
    ViewData["Title"] = "Tickets";
}

<link rel="stylesheet" href="/css/Pantalladmin.css">


<div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-6">
        <div class="text-center">
            <div class="row">
                    <a href="@Url.Action("Index", "Tickets")" id="btn1" class="btn btn-light">Ticket</a>
                </div>
                <div class="row">
                    <a href="@Url.Action("Index", "CategoriaTickets")" id="btn2" class="btn btn-light">Categoria Ticket</a>
                </div>
        </div>
      </div>
    </div>
  </div>