@{
    ViewData["Title"] = "Tickets";
}

<link rel="stylesheet" href="/css/MiCuenta.css">


<div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-6">
        <div class="text-center">
          <a href="@Url.Action("Index", "Tickets")" class="btn btn-light">Ticket</a>
          <a href="@Url.Action("Index", "CategoriaTickets")" class="btn btn-light">Categoria Ticket</a>
        </div>
      </div>
    </div>
  </div>